html,
body {
   height: 100%;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

/* Layout chính */
.layout {
   display: flex;
   height: 100vh;
}

/* Sidebar width cố định */
.sidebar {
   width: 270px;
   background: rgb(23, 28, 36);
   overflow-y: auto;
   scrollbar-gutter: stable;
}

/* Sidebar logo */
.sidebar .logo {
   max-width: 100px;
   height: auto;
   margin: 0 auto;
   display: block;
}

.sidebar .avatar {
   max-width: 50px;
   height: auto;
   margin: 0 auto;
}

/* Content chiếm phần còn lại */
.content-area {
   flex-grow: 1;
   background: rgb(23, 28, 36);
   overflow-y: auto;
}

.table-container {
   max-height: 950px;
   overflow-y: auto;
}

/* Ẩn scrollbar (Webkit browsers) */
.table-container::-webkit-scrollbar {
   display: none;
}

/* Cố định header */
.sticky-header th {
   position: sticky;
   top: 0;
   z-index: 5;
}