{% extends "base.html" %}

{% block title %}{{ program.program_name }} - Student Management{% endblock %}

{% block content %}
<div class="row mb-4 border-bottom border-white">
    <div class="col-md-10 p-2">
        <h1 class="text-white">{{ program.program_name }}</h1>
    </div>
    <div class="col-md-2 text-end p-2">
        <a href="{{ url_for('programs.list') }}" class="btn btn-lg btn-secondary btn-hover ">Back</a>
    </div>
</div>

<div class="border border-white rounded-4 p-3 text-white ">
    <div class="px-4 py-2 row">
        <h2 class="col-6">Information</h2>
        <div class="col-md-6 text-end">
            <a href="{{ url_for('programs.update', program_id=program.program_id)}}"
                class="btn btn-outline-warning rounded-4" type="button">Edit</a>
            <button class="btn btn-outline-danger rounded-4" onclick="deleteProgram('{{ program.program_id }}')"
                type="button">Delete</button>
        </div>
    </div>
    <hr class="border-bottom border-white m-2">
    <div class="px-4 py-2">
        <div>
            <p class="fw-bolder">Code : <span class="fw-normal">{{ program.program_id }}</span></p>
            <p class="fw-bolder">Department : <span class="fw-normal">{{ program.department }}</span></p>
            <p class="fw-bolder">Duration Years : <span class="fw-normal">{{ program.duration_years }}</span></p>
            <p class="fw-bolder">Degree Type : <span class="fw-normal">{{ program.degree_type }}</span></p>
        </div>
    </div>
    <hr class="border-bottom border-white m-2">
    <div class="px-4 py-2 row">
        <h2 class="col-6">Courses</h2>
        <div class="col-md-6 text-end">
            <a href="#" class="btn btn-primary rounded-4" type="button">+ Add</a>
        </div>
    </div>
    <div class="px-4">
        <div class="table-container border rounded-4">
            <table class="table table-striped table-hover text-center border rounded-4">
                <thead class="table-primary sticky-header">
                    <tr>
                        <th>Code</th>
                        <th>Course</th>
                        <th>Credit Hours</th>
                        <th>Semester Offered</th>
                        <th>Instructor ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if course|length == 0 %}
                    <tr>
                        <td colspan="12" class="text-center text-muted">No Information</td>
                    </tr>
                    {% endif %}
                    {% for co in course %}
                    <tr>
                        <td>{{ co.course_id }}</td>
                        <td>{{ co.course_name }}</td>
                        <td>{{ co.credit_hours }}</td>
                        <td>{{ co.semester_offered }}</td>
                        <td>{{ co.instructor_id }}</td>
                        <td>
                            <button class="btn btn-outline-warning" href="#">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-outline-danger" onclick="deleteEnrollment('{{ course.course_id }}')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    function deleteProgram(id) {
        if (confirm('Are you sure you want to delete this program?')) {
            fetch(`/programs/delete/${id}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.href = '{{ url_for("programs.list") }}';
                    } else {
                        alert(data.message);
                    }
                });
        }
    }
</script>

<script>
    function deleteCourse(id) {
        if (confirm('Are you sure you want to delete this course?')) {
            fetch(`/programs/deletecourse/${id}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.href = '{{ url_for("programs.get_by_id", program_id=program.program_id) }}';
                    } else {
                        alert(data.message);
                    }
                });
        }
    }
</script>
{% endblock %}